.game_page {
    width: 101.3%;
    /* height: 100%; */
    /* overflow-y: 'auto'; */
    /* overflow-x: 'hidden'; */
    /* scroll-behavior: 'smooth'; */
    overflow-x: hidden;
    min-height: 100vh;
    /* background-image: url("../../assets/table.png"); */
    background-color: brown;
    margin-top: -10px;
    margin-left: -10px;
}


.table {
    z-index: 0;
    /* position: absolute; */
}

.table_elements {
    z-index: 5;
    position: absolute;
    width: 100%;
}

.placeholder {
    border: 2px dotted white;
    border-radius: 5px;
    width: 90px;
    height: 140px;
    opacity: .5;
}